.root {
  display: grid;
  grid-template:
    "img  info . favorite" auto
    "img  info . rating" auto
    ".    info . data" auto
    / auto 2fr 0.5fr auto;

  min-height: 164px;
  padding: 26px 16px;

  background: #FFF;
  border-radius: 8px;
  box-shadow: 2px 1px 7px rgb(0 0 0 / 8%), 0 2px 1px -1px rgb(0 0 0 / 4%), 0 1px 3px rgb(0 0 0 / 12%);

  @media (max-width: 768px) {
    grid-template:
      "rating    rating rating  favorite" auto
      "img  info   info    info" 1fr
      ".    info   info    info" 1fr
      ".    .      data    data" auto
      /1fr 2fr auto auto;
    padding: 26px 16px;
    background: #EFF0F5;
  }
}

.image {
  grid-area: img;

  img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
  }

  @media (max-width: 768px) {
    width: 66px;
    height: 66px;
  }
}

.info {
  display: flex;
  grid-area: info;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 34px;
}

.rating {
  display: flex;
  grid-area: rating;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    p {
      margin-right: 5px;
    }
  }
}

.favorite {
  display: flex;
  grid-area: favorite;
  align-items: flex-start;
  justify-content: flex-end;

  img {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    p {
      margin-right: 5px;
    }
  }
}

.created {
  display: flex;
  grid-area: data;
  align-items: flex-end;

  @media (max-width: 768px) {
    justify-content: flex-end;
    margin-bottom: 14px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}
