.root {
  min-height: 100vh;
  background-color: rgb(161 177 219 / 31.7%);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 40%;
  margin: 0 auto;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    height: 100%;
  }
}
