.paragraph {
  display: block;
  margin: 0;
  padding: 0;
}

.large {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  color: #3A4562;
  letter-spacing: -0.625px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.medium {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: 100;
  line-height: 24px;
  color: #3A4562;
  letter-spacing: -0.5625px;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.small {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: #878D9D;
  letter-spacing: 0.23619px;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.additional {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #878D9D;
  letter-spacing: 0.23619px;

  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 16px;
  }
}
