.root {
	display: flex;
	flex-direction: column;

	width: 100%;

	border: 2px solid rgba(85, 105, 158, 0.3);
	background-color: rgb(232, 230, 255);
	z-index: 5;

}

form {
	padding: 10px 20px 20px 20px;
}

h2 {
	margin: 10px;
	text-align: center;
}