.root {
  padding: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .root {
    padding: 25px 10px;
  }
}

.wrapper {
  display: flex;
}

.main {
  width: 70%;
}

.media {
  height: 300px;
  width: 30%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding-bottom: 20px;

  border-bottom: 2px solid rgb(182 182 182);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 40%;

  font-size: 18px;
  font-weight: 400;
  font-stretch: 100;
  line-height: 24px;
  color: #3A4562;
  letter-spacing: -0.5625px;
}

.favorite {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.shape {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-right: 5px;
  }
}

.subtitle {
  display: flex;
  justify-content: start;

  margin-bottom: 20px;

  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: 34px;
  color: #3A4562;
  text-align: left !important;
  letter-spacing: 0.413333px;
}

.aplly {
  margin: 40px 0 30px;
}

#apllyTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    margin-right: 5px;
  }
}

.subheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  width: 60%;
}

.list {
  padding-inline-start: 20px;
  list-style-type: square;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 40px;

  button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.image {
  margin: 20px 0 50px;

  img {
    width: 200px;
    height: 130px;
    margin-right: 10px;

    object-fit: cover;
    border-radius: 10px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .root {
    padding: 25px 10px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .media {
    height: 400px;
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    border: none;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100%;
    margin-top: 10px;

    font-size: 16px;
    font-weight: 400;
    font-stretch: 100;
    line-height: 23px;
    color: #3A4562;
    letter-spacing: -0.5625px;
  }

  .favorite {
    margin-right: 20px;
  }

  .subtitle {
    display: flex;
    justify-content: start;

    width: 100%;
    padding-bottom: 10px;

    border-bottom: 2px solid rgb(182 182 182);
  }

  #apllyTop {
    margin: 20px 0 0;

    button {
      display: none;
    }

    .rating {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  .subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 10px;
  }

  .title {
    width: 100%;
  }

  .salary {
    margin-top: 10px;
  }

  .list {
    padding-inline-start: 20px;
    list-style-type: square;
  }

  .btns {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 40px;

    button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .image {
    margin: 20px 0 30px;

    img {
      width: 140px;
      height: 90px;
      margin-right: 10px;

      object-fit: cover;
      border-radius: 10px;
    }
  }
}