body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3a4562 !important;
  text-decoration: none !important;
}

.menu-enter {
  overflow: hidden;
  max-height: 0;
  transition: all 0.8s ease;
}

.menu-enter-active {
  height: auto;
  max-height: 500px;
}

.menu-exit {
  max-height: 500px;
  transition: all 0.4s ease;
}

.menu-exit-active {
  overflow: hidden;
  max-height: 0;
}